@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header,
.footer, 
body,
.left-links,
.right-links,
.content {
  display: flex;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 7px 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header,
.footer, 
body {
  justify-content: space-between;
}

body, 
.content {
  flex-direction: column;
}

.footer {
  background-color: #eeeeee;
}

.content {
  align-items: center;
  gap: 20px;
}

.left-links,
.right-links {
  gap: 20px;
  list-style: none;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
