#div1{
color: #0000ff;
font-size: 36px;
}
#div2{
background-color: #90ee90;
font-size: 24px;
font-weight: bold;
}
.odd{
background-color: #d14d6e;
font-family: Verdana, "DejaVu Sans", sans-serif;
}
.font{
font-size: 24px;
}