body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

.para,
div.text .child{
  font-weight: 800;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

div.text .child,
.para.small-para {
  font-size: 14px;
}

div.text {
  font-weight: 100;
}
